@media screen and (min-width: 768px) {
  .desktop-nav-none {
    display: none;
  }

  .mobile-latest article {
    display: flex;
    flex-direction: row;
  }

  .desktop-yellow-bar {
    display: flex;
    padding: 0 2.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 16px;
  }

  .desktop-yellow-bar:hover {
    cursor: pointer;
  }

  .mobile-header {
    display: flex;
  }

  .mobile-header-top {
    width: 70%;
  }

  .container {
    display: flex;
  }

  .hero_section {
    width: 65%;
    height: auto;
    margin: 0 0.5rem 0 0;
  }

  .mobile-header {
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .mobile-header-bottom {
    margin-top: 0.5rem;
  }

  .column {
    display: flex;
    align-items: center;
  }

  
.card-cover {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

  footer,
  .top_footer,
  .bottom_footer {
    display: flex;
    flex-direction: column;
  }

  .top_footer {
    background-color: rgb(49, 47, 47);
    height: 40vh;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  .social_media_icon {
    border-radius: 100%;
    border: 1px solid white;
    background: rgb(80, 80, 80);
    color: #fff;
    padding: 0.5rem;
    margin: 0 1rem;
    cursor: pointer;
  }

  .bottom_footer {
    background-color: rgb(14, 13, 13);
    height: 25vh;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
}

@media screen and (max-width: 767px) {
  .mobile-nav-none {
    display: none;
  }
}
