@media screen and (min-width: 768px) {
  .desktop-nav-none {
    display: none;
  }

  .desktop-cover {
    flex-direction: row;
  }

  .desktop-cover-side {
    display: flex;
    flex-direction: column;
  }

  .desktop-cover-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 0;
    padding: 0.5rem;
  }
  .mobile-cover {
    height: 100%;
  }

  .mobile-cover-top {
    width: 70%;
    height: 100%;
  }

  .desktop-cover-side {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .mobile-latest article {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .mobile-nav-none {
    display: none;
  }
}
