@media screen and (min-width: 769px) {
  .nav-mobile {
    display: none;
  }
}

@media screen and (max-width: 769px) {
  .nav-dark {
    display: none;
  }

  .nav-light {
    display: none;
  }

  .nav-mobile {
    display: flex;
    padding: 0 0;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
  }

  .nav-mobile ul li {
    display: inline;
    padding-right: 2rem;
    margin-left: -1rem;
  }

  .nav-mobile ul li a {
    text-decoration: none;
    color: #aaa;
    font-family: sans-serif;
    font-weight: 500;
  }

  .img_fluid {
    width: 100%;
    height: auto;
  }

  .mobile_nav_ul {
    display: flex;
    list-style: none;
    height: 100%;
  }

  .list_item_mob {
    display: block;
  }

  .list_item_mob a {
    padding: 0 .3rem;
    text-align: center;
    display: inline-block;
  }

  .fa-search, .fa-bars {
    font-size: 1.3rem;
  }


}
