* {
  box-sizing: border-box;
}
/* next web */
body {
  margin: 0;
  padding: 0;
}

.large_nav_bar {
  display: none;
}

.mobile-nav {
  display: grid;
}
.nav-bar {
  position: relative;
  height: 2.7rem;
  background-color: whitesmoke;
}

.nav-mobile-logo {
  padding: 1.5rem 3rem;
  margin-left: -0.2rem;
  background-image: url(images/tnw-logo.png);
  background-repeat: no-repeat;
  background-size: 6rem 5rem;
  background-position: left, top 8px;
}

.nav-bar ul {
  position: relative;
  float: right;
  padding: 0.7rem 0.1rem;
  margin: 0 0;
  border-left: double 2px rgb(226, 222, 222);
}

.nav-bar ul li {
  padding-right: 1rem;
  padding-left: 1rem;
  list-style: none;
}

.nav-bar img {
  width: 1rem;
  height: 1rem;
}

#bars {
  float: right;
}
#search {
  float: left;
}

.yellow-bar {
  padding: 0.1rem;
  background: yellow;
  text-align: center;
}

.container {
  height: 100vh;
  margin-bottom: 4rem;
}

.mobile-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
}

.overlay {
  position: abosute;
  display: none;
}

.hero_section {
  position: relative;
  background: linear-gradient(144deg,#ee0a0a, rgba(228, 207, 207, 0.5) 100%) , url(images/hero_img.1.png) center center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.logo {
  display: none;
}

.hero_logo {
  font-size: 1rem;
}

.hidden {
  visibility: hidden;
}
.mobile-header-mid {
  position: relative;
  background: linear-gradient(rgba(160, 156, 156, 0.5), rgba(14, 13, 13, 0.5)) , url(images/cover_div_img.jpg) center center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 49%;
}
.mobile-header-bottom {
  position: relative;
  background: linear-gradient(rgba(243, 241, 241, 0.5), rgba(12, 10, 10, 0.5)) , url(images/bicycle.1.jpg) center center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 49%;
}

.pd_all_round {
  padding: 1rem;
}

.bg-style {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hearder {
  width: 70vw;
  background-image: url(images/hero_img.png);
  height: auto;
  display: flex;
  align-items: flex-end;
}

.bottom_header {
  padding: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: rgb(252, 244, 244);
  height: 100%;
  width: 100%;
  background: linear-gradient(30deg, rgb(216, 101, 101) 70%, black 30%);
  opacity: 0.5;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.latest_news_section,
.latest_deals_section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1rem .5rem;
  
}

.section_header {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}

.column {
   display: flex;
   justify-content: space-between;
}

.img_div {
  width: 30%;
}

.news_img {
  height: auto;
  float: left;
  margin: .5rem;
  width: 100%;
}

.description {
  width: 65%;
}

.news_title {
  font-weight: 600;
   font-family: Arial, Helvetica, sans-serif;
}

.more_info {
  font-size: .9rem;
}

.funding_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section_title {
  color: orangered;
}

.section_item {
  display: block;
  color: orangered;
  cursor: pointer;
}

.funding_article {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 5px 5px 5px gray;
  margin-bottom: .7rem;
}

.fund_img, .fund_img_two,
.fund_img_three, 
.fund_img_four {
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  top: .9rem;
  left: 2rem;
}

.fund_img {
  background: url(images/vpn.jpg);
}

.fund_img_two {
   background: url(images/card-image.jpeg);
}

.fund_img_three {
  background: url(images/micro.jpg)
}

.fund_img_four {
  background: url(images/itg.jpg);
}


.orangered_p {
  background: orangered;
  margin: 0;
  padding: .5rem 0 .5rem 7rem;
  text-align: left;
  display: block;
}

.pinkish_p {
  background: pink;
  padding: .5rem;
  display: block;
  padding: .5rem 0 .5rem 7rem;
  text-align: left;
}

.pinkish_p span {
  display: block;
  font-weight: bold;
}

.sm_text {
  font-size: .7rem;
  display: block;
}

.tag, .briefcase {
  display: block;
  font-size: .8rem;
  padding: .8rem 0.5rem;
}

.bottom_p {
  border-top: 1px solid gray;
  padding: 1rem .5rem;
  font-size: .8rem;
}

.bottom_p span {
  display: block;
  margin: .7rem 0;
  font-size: .75rem;
}

.section_territory {
  padding: .5rem;
}

.apps_section,
.gear_section,
.tech_section,
.creative_section,
.podium_section,
.insights_section,
.launch_section,
.distract_section {
  width: 100%;
  padding: 0;
  margin: 0 1rem 1rem 0;
  box-shadow: 10px 10px 10px grey;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.top_apps_body,
.top_gear_body,
.top_tech_body,
.top_creative_body,
.top_podium_body,
.top_insights_body,
.top_launch_body,
.top_distract_body {
  width: 100%;
  position: relative;
  height: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  
}

.top_apps_body {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url(images/programmer.jpg) center center;
  background-size: cover;
}

.top_gear_body {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url(images/bitcoin.jpg) center center;
  background-size: cover;
}

.top_tech_body {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url(images/cosmic.png) center center;
  background-size: cover;
}

.top_creative_body {
   background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url(images/bikes.1.jpg) center center;
  background-size: cover;
}

.top_podium_body {
   background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url(images/tablet.1.jpg) center center;
  background-size: cover;
}

.top_insights_body {
   background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url(images/design.jpg) center center;
  background-size: cover;
}

.top_launch_body {
   background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url(images/bounch.jpeg) center center;
  background-size: cover;
}

.top_distract_body {
   background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url(images/programmer.jpg) center center;
  background-size: cover;
}
.all_rnd_pd {
  padding: 0.4rem;
}

.main_section_msg {
  display: block;
  font-size: 1.5rem;
}

.apps_section_header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.sm_txt {
  display: block;
  font-size: 0.8rem;
}

.latest_anouncer,
.extra_info {
  font-size: small;
  display: block;
  margin-bottom: 0.5rem;
}

.mid_apps_body {
  background: pink;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.3rem;
  font-size: 0.8rem;
  /* line-height: .7rem; */
}

.bottom_apps_body ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.5rem 0.9rem;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: auto;
  font-size: 0.8rem;
  line-height: 1.3rem;
}

.bottom_apps_body ul li {
  color: red;
  padding: .5rem 0;
}

.external_link {
  text-decoration: none;
  color: #000;
}

footer,
.top_footer,
.bottom_footer {
  display: flex;
  flex-direction: column;
}

.top_footer {
  background-color: rgb(49, 47, 47);
  height: 20vh;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.social_media_icon {
  border-radius: 100%;
  border: 1px solid white;
  background: rgb(36, 32, 32);
  color: #fff;
  padding: 0.2rem;
  margin: 0 .7rem;
  cursor: pointer;
  transition: ease .2s;
}

.social_media_icon:hover {
   background-color: #000;
}

.additional_link {
  text-decoration: none;
  color: #fff;
  font-size: .8rem;
  padding: 0 .5rem;
}

.bottom_footer {
  background-color: rgb(15, 22, 54);
  height: 10vh;
  text-align: center;
  color: #fff;
  font-size: smaller;
  padding: .5rem;
}
